body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
   overflow-x: hidden;
}

/* navbar code */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
}

.nav-item {
    margin-left: 2rem;
}

.nav-link {
    font-size: 16px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.nav-link:hover {
    color: #475569;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

/* navbar end */
/* Intro section */

#introsection{
    padding: 20px 12% 10px;
    background: #F0CDAA;
}
.introcontainer{
    padding: 60px 0;
}
.introimage{
    padding-left: 0;
    margin: auto;
    text-align: center;
    width: 100%;
    position: relative;
}
.introimage1{
    height: 600px;
}
.introbox{
    text-align: left;
    position: absolute;
    background-color: aliceblue;
    width: 35%;
    padding: 15px;
    right: 15px;
    bottom: 75px;
}
.introbox p{
    text-align: justify;
}
.introtext{
    padding-right: 0;
}
.introtext h2{
    font-family: 'Berkshire Swash', cursive;
    font-size: 5rem;
    letter-spacing: 1px;
    line-height: 80px;
    padding-bottom: 20px;

}
.introtext p{
    font-size: 18px;
    text-align: justify;
    padding-bottom: 20px;
}
.introtext button {
    text-align: center;
    width: 200px;
    height: 60px;
    padding: 10px;
    border: none;
    background-color: #FFB800;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-style: bold;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    margin-top: 0;
}


/* About section */
#aboutsection{
    padding: 5% 12% 10px;

}
.aboutcontainer h2{
text-align: center;
font-size: 2.5rem;
font-weight: 600;
font-family: 'Berkshire Swash', cursive;
padding-bottom: 40px;

}
.abouttext{
    text-align: justify;
    margin: auto;
}
.aboutstory{
    padding-bottom: 30px;
}
.aboutstory h3{
    font-size: 1.75rem;
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Berkshire Swash', cursive;
    font-weight: 400;
}





/* footer section */

#footersection{
    padding: 5% 12% 10px;
    background-color: #1B1C31;
    color: white;
}

.footrow{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px;
    border-bottom: 1px solid black;
}
.footcol h4{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.footcol ul li{
    font-size: 14px;
   
}
.footcol ul li a{
    color: black;
    text-decoration: none;
   position: relative;
   line-height: 30px;

}
.footcol ul li a::before{
    transition: 400ms;
    height: 3px;
    content: "";
    position: absolute;
    background-color: #0a0a0a;
}
.footcol ul li .footcol-ltr::before {
    width: 0%;
    bottom: 0px;
  }
  
  .footcol ul li .footcol-ltr:hover::before {
    width: 80%;
  }
  .footwrite p {
    font-size: 16px;
    
}
.footerbox{
    padding: 15px 0 0 0;
    margin: auto;
}
.footerbox p{
    font-size: 12px;
}
.footerlinks{
    
}
.footerlinks i{
    padding-right: 22px;
    font-size: 25px;
    color: #FFB800;
    
}
.footeremail{
    
    padding: 10px 0;
}
.footeremail a{
    color: #FBC4AB;
}
.footerphone p{
    color: #FBC4AB;
}
@media only screen and (max-width:760px) {

    html,
    body {
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        box-sizing: border-box;
        overflow-x: hidden;        
    }
 
    /* navbar responsive */
 
    .nav-menu {
        z-index: 9999;
        padding: 20px 0;
        position: fixed;
        left: -100%;
        top: 6rem;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        width: 100%;
        
        text-align: center;
        transition: 0.5s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-link {
        color: white;
    }

    .nav-menu.active {
        left: 0;
        padding-left: 0;
    }

    .nav-item {
        padding: 20px 0;
        margin-bottom: 10px;
        margin-left: 0;
        color: white;
    }

    .navbut {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        text-align: center;
        height: 3rem;
        width: 9.5rem;
        background: rgb(0, 0, 0);
        color: white;
        cursor: pointer;
        border: none;
        outline: none;
        padding: 10px;
        border-radius: 25px;
        box-shadow: rgba(41, 39, 39, 0.35) 0px 5px 10px;
        transition: all 0.2s ease-in;

    }

    .navbut:hover {
        color: black;
        box-shadow: 0px 5px 5px rgb(243, 195, 181);
        background-color: #ffffff;
        transform: translateY(-5px);
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }


    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* nabar ends */
    



    /* Intro section */

#introsection{
    padding: 20px 8% 10px;
    background: #F0CDAA;
}
.introcontainer{
    padding: 60px 0;
}
.introimage{
    padding-left: 15px;
    margin: auto;
    text-align: center;
    width: 100%;
    position: relative;
}
.introimage1{
    width: 100%;
    height: 600px;
}
.introbox{
    text-align: left;
    position: absolute;
    background-color: aliceblue;
    width: 75%;
    padding: 10px;
    right:30px;
    bottom: -50px;
}
.introbox p{
    text-align: justify;
}
.introtext{
    padding-bottom: 30px;
    padding-right:15px;
    text-align: center;
}
.introtext h2{
    font-family: 'Berkshire Swash', cursive;
    font-size: 3rem;
    letter-spacing: 1px;
    line-height: 80px;
    padding-bottom: 20px;

}
.introtext p{
    font-size: 18px;
    text-align: justify;
    padding-bottom: 20px;
}
.introtext button {
    margin: auto;
    text-align: center;
    width: 200px;
    height: 60px;
    padding: 10px;
    border: none;
    background-color: #FFB800;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-style: bold;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    margin-top: 0;
}

/* About section */
#aboutsection{
    padding: 5% 8% 10px;

}
.aboutcontainer h2{
text-align: center;
font-size: 2.25rem;
font-weight: 600;
font-family: 'Berkshire Swash', cursive;
padding-bottom: 40px;

}
.abouttext{
    text-align: justify;
    margin: 20px auto 10px;
}
.aboutstory{
    padding-bottom: 30px;
}
.aboutstory h3{
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Berkshire Swash', cursive;
    font-weight: 400;
}
.aboutimage{
    margin: auto;
text-align: center;
}
.aboutimage1{
    width: 80%;
    margin: auto;
}

/* footer section */
#footersection{
    padding: 5% 8% 10px;
    background-color: #1B1C31;
    color: white;
}
.footrow{
    margin: auto;
    display: block;
}
.footcol{
    margin-bottom: 25px;
}
.footcol h4{
    font-size: 22px;
    margin-bottom: 18px;
    font-weight: 600;
}

}